body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #222;
  margin: 0;
  padding: 0;
}

.container-warung {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}

.header-warung {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.store-img {
  width: 320px;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
}

.store-info h1 {
  margin: 0;
  font-size: 1.8rem;
}

.category {
  color: #555;
  margin-top: 4px;
}

.info-boxes {
  display: flex;
  gap: 15px;
  margin-top: 16px;
}

.info-box {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 10px 20px;
  min-width: 130px;
  text-align: center;
}

.info-box .title {
  font-weight: 600;
  margin-bottom: 4px;
}

.info-box .content {
  font-size: 0.95rem;
}

.rating {
  
  font-weight: bold;
  font-size: 1.1rem;
}

.review-link {
  display: block;
  color: #2ecc71;
  text-decoration: none;
  font-weight: 600;
}

.section-title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: 600;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.menu-item {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 12px;
  text-align: left;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.menu-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.info-box .review-link:hover {
    transform: scale(1.02);
    color: #2ecc71;
}


.menu-item img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 8px;
}

.menu-item h3 {
  margin: 0;
  font-size: 1.05rem;
  font-weight: 600;
}

.menu-item p {
  margin: 4px 0 0;
  color: #333;
}

.btn-back {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.btn-back:hover {
  background-color: rgba(91, 87, 87, 0.8);
  transform: scale(1.05);
}

.icon-back {
  width: 18px;
  height: 18px;
}

.deskripsi{
  display: flex;
  gap: 10px;
}











